@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Pretendard Variable", "sans-serif";
}

main {
    height: calc(100vh - 28px);
}

ul,
li {
    list-style: none;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
